@font-face {
  font-family: "iconfont"; /* Project id 2714533 */
  src: url('//at.alicdn.com/t/font_2714533_p535u0mx97.woff2?t=1628390309532') format('woff2'),
       url('//at.alicdn.com/t/font_2714533_p535u0mx97.woff?t=1628390309532') format('woff'),
       url('//at.alicdn.com/t/font_2714533_p535u0mx97.ttf?t=1628390309532') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cha:before {
  content: "\e629";
}

.icon-jinggao:before {
  content: "\e60f";
}

.icon-guanbi:before {
  content: "\e60c";
}

.icon-dianji:before {
  content: "\e655";
}

.icon-buoumaotubiao48:before {
  content: "\e62b";
}

.icon-xihuan:before {
  content: "\e630";
}

.icon-biaoqian:before {
  content: "\e7ca";
}

.icon-tags:before {
  content: "\eba0";
}

.icon-icon18:before {
  content: "\e628";
}

.icon-weibo:before {
  content: "\e63d";
}

.icon-weixin:before {
  content: "\e65d";
}

.icon-qq:before {
  content: "\f216";
}

.icon-github:before {
  content: "\e651";
}

.icon-gitee2:before {
  content: "\e677";
}

.icon-shanchu:before {
  content: "\f36d";
}

.icon-xiaoxi1:before {
  content: "\e695";
}

.icon-preview:before {
  content: "\e613";
}

.icon-biaoqing:before {
  content: "\e618";
}